<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/flickity.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Suponic Games</title>
</head>

<body>
	<div id="app">
		<transition name='fade'>
			<div v-if='!pageLoaded' id="preloader-wrapper">
				<img src="images/preloader.svg" alt="" class="preloader">
			</div>
		</transition>
		<header class="d-flex align-items-center main-header container p-relative">
			<a href="index.html"><img src="images/main-logo.png" alt="" class="main-logo"></a>
			<nav class="main-nav d-flex align-items-center p-relative">
				<main-nav-link text='All Games' link='index.html'></main-nav-link>
				<main-nav-link text='SGC Shop' link='sgc-shop.html'></main-nav-link>
				<main-nav-link text='Community' link='#'></main-nav-link>
				<main-nav-link text='Clan' link='#'></main-nav-link>
				<div class="gradient-line"></div>
				<div class="menu-toggle cross">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>
			<div class="menu-toggle">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="main-nav_right d-flex flex-column">
				<div class="price-language d-flex align-items-center">
					<div class="price d-flex align-items-center">
						<img src="images/sgc-coin-navbar.png" alt="">
						<span>1 SGC = 1USD</span>
					</div>
					<select name="" id="" class="language text-white">
						<option value="ENG">ENG</option>
						<option value="KOR">KOR</option>
					</select>
				</div>
				<div class="news-login" :class="{'d-flex': loggedIn}">
					<a href="notice-and-news.html">Notice & News</a>
					<template v-if='!loggedIn'>
						<a href="signup.html">Register</a> / <a href="login.html">Login</a>
					</template>
					<span v-else class="profile-pic-and-name align-items-center line-height-normal">
						<img src="images/user-icon.png" alt="">
						<span>John Walter</span>
					</span>
				</div>
				<img src="images/search-icon.png" alt="" class="search">
			</div>
		</header>
		<div class="game-screen container">
			<img src="images/inkwar-banner.png" alt="" class="game-banner">
			<section class="game-img-and-info d-grid">
				<img src="images/inkwar-img.png" alt="">
				<div class="info text-white">
					<h3 class="title font-bold has-half-underline">Ink Wars</h3>
					<div class="description line-height-normal">
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit qui, tempore, molestiae blanditiis eius sed repellendus vel illo quia iure dignissimos fuga facilis sequi, cumque ratione sapiente quo optio quos praesentium culpa deleniti esse nostrum iusto? Voluptas modi error mollitia voluptatibus, animi cum laudantium eligendi nulla ab excepturi, obcaecati quibusdam.</p>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
					</div>
					<rating :score=4.5></rating>
					<div class="d-flex justify-content-between align-items-center">
						<div class="age-and-genre">
							<span class="text-yellow font-bold">3+</span> / <span class="text-yellow font-bold">Casual</span> / <span class="text-yellow font-bold">Multiplayer</span>
						</div>
						<btn-diamond text='Download'></btn-diamond>
					</div>
				</div>
			</section>
			<section class="screenshots">
				<h3 class="title text-white has-half-underline font-bold">Screenshots</h3>
				<div class="screenshots-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false, "groupCells": true }'>
					<img class="cell" src="images/screenshot1.png" alt="">
					<img class="cell" src="images/screenshot2.png" alt="">
					<img class="cell" src="images/screenshot3.png" alt="">
					<img class="cell" src="images/screenshot4.png" alt="">
				</div>
			</section>
		</div>
		<footer class="main-footer">
			<div class=" d-flex flex-column align-items-center">
				<div class="main-footer_nav-wrapper">
					<div class="main-footer_nav container d-flex p-relative">
						<a href="#">About</a>
						<a href="#">Support</a>
						<a href="#">Terms of Use</a>
						<a href="#">Privacy Policy</a>
						<a href="#">Notices</a>
						<a href="#">Contact Us</a>
						<div class="main-footer_social-icons">
							<a href="#"><img src="images/facebook-icon.png" alt=""></a>
							<a href="#"><img src="images/insta-icon.png" alt=""></a>
							<a href="#"><img src="images/twitter-icon.png" alt=""></a>
						</div>
					</div>
				</div>
				<span class="copyright container text-center">All rights reserved to Suponic eSports</span>
			</div>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/components.js"></script>
	<script src="js/flickity.pkgd.min.js"></script>
	<script src="js/script.js"></script>
</body>

</html>