<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/flickity.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Suponic Games</title>
</head>

<body>
	<div id="app">
		<transition name='fade'>
			<div v-if='!pageLoaded' id="preloader-wrapper">
				<img src="images/preloader.svg" alt="" class="preloader">
			</div>
		</transition>
		<header class="d-flex align-items-center main-header container p-relative">
			<a href="index.html"><img src="images/main-logo.png" alt="" class="main-logo"></a>
			<nav class="main-nav d-flex align-items-center p-relative">
				<main-nav-link text='All Games' link='index.html'></main-nav-link>
				<main-nav-link text='SGC Shop' link='sgc-shop.html'></main-nav-link>
				<main-nav-link text='Community' link='#'></main-nav-link>
				<main-nav-link text='Clan' link='#'></main-nav-link>
				<div class="gradient-line"></div>
				<div class="menu-toggle cross">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>
			<div class="menu-toggle">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="main-nav_right d-flex flex-column">
				<div class="price-language d-flex align-items-center">
					<div class="price d-flex align-items-center">
						<img src="images/sgc-coin-navbar.png" alt="">
						<span>1 SGC = 1USD</span>
					</div>
					<select name="" id="" class="language text-white">
						<option value="ENG">ENG</option>
						<option value="KOR">KOR</option>
					</select>
				</div>
				<div class="news-login" :class="{'d-flex': loggedIn}">
					<a href="notice-and-news.html">Notice & News</a>
					<template v-if='!loggedIn'>
						<a href="signup.html">Register</a> / <a href="login.html">Login</a>
					</template>
					<span v-else class="profile-pic-and-name align-items-center line-height-normal">
						<img src="images/user-icon.png" alt="">
						<span>John Walter</span>
					</span>
				</div>
				<img src="images/search-icon.png" alt="" class="search">
			</div>
		</header>
		<section class="main-banner container">
			<div class="main-banner_img-slices p-relative">
				<img src="images/banner-chars-coin.png" alt="" class="characters">
				<img src="images/main-banner-vfx.png" alt="" class="effects">
				<!-- <img src="images/main-banner-coin.png" alt="" class="banner-coin"> -->
			</div>
			<!-- <div class="container"> -->
			<div class="main-banner_content text-white container">
				<h1 class="font-bold animate">INKWARS</h1>
				<p class="text animate">Ink Wars is the world's first VS Bubble game on the market. It's a family friendly title that is
					super easy to get into but contains layers of depth for competitive play.</p>
				<div class="main-banner_type-rating">
					<div>
						<span class="game-type text-yellow font-bold">Casual</span>
						<rating :score='4.15'></rating>
					</div>
					<a href="game-screen.html"><btn-diagonal class="animate" text='Play Now'></btn-diagonal></a>
				</div>
			</div>
		</section>
		<div class="main-banner_nav-wrapper">
			<div class="main-banner_nav align-items-center container grid-flow-column p-relative">
				<main-banner-nav-item v-for='e in mainBarNavItems' :key='e.id' :text='e.text' :src='e.src'></main-banner-nav-item>
			</div>
		</div>

		<div class="main-banner_nav-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "groupCells": true }'>
			<main-banner-nav-item v-for='e in mainBarNavItems' :key='e.id' :text='e.text' :src='e.src'></main-banner-nav-item>
		</div>

		<!-- </section> -->
		<section class="all-games container d-grid">
			<h3 class="text-yellow text-center grid-col-span">all games</h3>
			<game-card img='icon1' :score='4.15' title='Ink Wars' desc="World's first VS Bubble Casual Game in the Market"
				link='game-screen.html'>
			</game-card>
			<game-card img='icon2' :score='4.5' title='Gin Rummy' desc='Gin Rummy Online great strategic Casino game'
				link='#'>
			</game-card>
			<game-card img='icon3' :score='5.0' title='Zombifyme'
				desc='Zombifyme zombie shooting game with addictive missions' link='#'>
			</game-card>
			<game-card img='icon4' :score='3.5' title='Galaxy Shoot'
				desc='Galaxy Shooter Scifi Game having addictive missions & levels' link='#'>
			</game-card>
			<game-card img='icon5' :score='4.15' title='Farmlink' desc='Farmlink arcade game, Create your own farm' link='#'>
			</game-card>
			<game-card img='icon6' :score='4.5' title='Monster Truck'
				desc='Monster Truck VS Zombies the action game shooting zombies' link='#'>
			</game-card>
			<game-card img='icon7' :score='5.0' title='Motor Racing'
				desc='Motor Bike Hurdle Racing is a simulation game with multiple levels' link='#'>
			</game-card>
			<game-card img='icon8' :score='3.5' title='Warship' desc='Warship Simulation action game for shooting the enemies'
				link='#'>
			</game-card>
			<btn-diagonal text='More Games' class="grid-col-span"></btn-diagonal>
		</section>
		<section class="articles container d-grid">
			<h3 class="text-yellow text-center grid-col-span">community news article</h3>
			<article-card number='01'
				headline='Providing the specialized game development expertise that you needed the most.'>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, obcaecati. Maiores, pariatur necessitatibus
					officia tenetur id itaque tempora molestias, doloremque quibusdam architecto, quam vel hic ut nemo? Dolores,
					ab suscipit.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloribus, dignissimos distinctio hic
					pariatur maiores, iste dolor officia minima inventore, deleniti ex libero dolorem temporibus nisi? Dolore
					recusandae iste rerum placeat minima, alias voluptate consequatur minus quae inventore quidem neque quaerat
					fuga dolorem saepe, numquam officia? Architecto deleniti assumenda aspernatur.</p>
			</article-card>
			<article-card number='02'
				headline='SGC removes the problem gamers are facing while playing use the SGC wallet to play games'>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis delectus quam illum, quibusdam tempora animi
					atque molestias ea modi, rem doloribus cumque dolores quas at fuga unde doloremque exercitationem ducimus id
					facilis! Necessitatibus non amet officia unde asperiores eos quae exercitationem dignissimos, reiciendis,
					recusandae sint explicabo minus voluptatem a culpa.</p>
			</article-card>
			<article-card number='03'
				headline='Proving the best games to play 500+ games of all time categories. Having the access to SGC.'>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi laborum doloribus maiores necessitatibus
					voluptas qui et cupiditate corrupti earum quos.</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam suscipit iure temporibus eaque consectetur
					maxime deleniti nesciunt aut id, soluta aliquam dolores ipsa? Eos, voluptatum animi nemo incidunt aliquid
					perferendis?</p>
			</article-card>
		</section>
		<section class="news d-grid container p-relative">
			<h3 class="text-yellow text-center grid-col-span">news & notice</h3>
			<news-card character='cabal' title='cabal online update will be coming soon with new characters and features'
				para='orem ipsum dolor sit, amet consectetur adipisicing elit. Veniam suscipit iure temporibus eaque consectetur
				maxime deleniti nesciunt aut id, soluta aliquam dolores ipsa? Eos, voluptatum animi nemo incidunt aliquid'>
			</news-card>
			<news-card character='paladins'
				title='paladins is going to announce for the next series of its game with more features' para='orem ipsum dolor sit, amet consectetur adipisicing elit. Veniam suscipit iure temporibus eaque consectetur
				maxime deleniti nesciunt aut id, soluta aliquam dolores ipsa? Eos, voluptatum animi nemo incidunt aliquid
				perferendis?'>
			</news-card>
			<div class="gradient-line-and-lights animate">
				<div class="gradient-line grid-col-span"></div>
				<img src="images/nav-icon-hover.png" alt="" class="light light-1">
				<img src="images/nav-icon-hover.png" alt="" class="light light-2">
			</div>
		</section>
		<section class="fb-feed d-grid container">
			<h3 class="text-yellow text-center grid-col-span">facebook feed</h3>
			<fb-feed-card img='1' title="AC: Odyssey">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam, distinctio maxime porro laboriosam
					odio corrupti delectus rem vero ratione.</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, reprehenderit?</p>
			</fb-feed-card>
			<fb-feed-card img='2' title="Art of War">
				<p>Yumi is on a quest to find her Master, making and bopping enemies... Yumi is on a quest to find her Master,
					making friends</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi mollitia excepturi optio commodi officiis non!
				</p>
			</fb-feed-card>
			<fb-feed-card img='3' title="Contract Wars">
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, nemo?</p>
			</fb-feed-card>
		</section>
		<footer class="main-footer">
			<div class=" d-flex flex-column align-items-center">
				<div class="main-footer_nav-wrapper">
					<div class="main-footer_nav container d-flex p-relative">
						<a href="#">About</a>
						<a href="#">Support</a>
						<a href="#">Terms of Use</a>
						<a href="#">Privacy Policy</a>
						<a href="#">Notices</a>
						<a href="#">Contact Us</a>
						<div class="main-footer_social-icons">
							<a href="#"><img src="images/facebook-icon.png" alt=""></a>
							<a href="#"><img src="images/insta-icon.png" alt=""></a>
							<a href="#"><img src="images/twitter-icon.png" alt=""></a>
						</div>
					</div>
				</div>
				<span class="copyright container text-center">All rights reserved to Suponic eSports</span>
			</div>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/components.js"></script>
	<script src="js/flickity.pkgd.min.js"></script>
	<script src="js/script.js"></script>
</body>

</html>