<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/flickity.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Suponic Games</title>
</head>

<body>
	<div id="app">
		<transition name='fade'>
			<div v-if='!pageLoaded' id="preloader-wrapper">
				<img src="images/preloader.svg" alt="" class="preloader">
			</div>
		</transition>
		<header class="d-flex align-items-center main-header container p-relative">
			<a href="index.html"><img src="images/main-logo.png" alt="" class="main-logo"></a>
			<nav class="main-nav d-flex align-items-center p-relative">
				<main-nav-link text='All Games' link='index.html'></main-nav-link>
				<main-nav-link text='SGC Shop' link='sgc-shop.html'></main-nav-link>
				<main-nav-link text='Community' link='#'></main-nav-link>
				<main-nav-link text='Clan' link='#'></main-nav-link>
				<div class="gradient-line"></div>
				<div class="menu-toggle cross">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>
			<div class="menu-toggle">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="main-nav_right d-flex flex-column">
				<div class="price-language d-flex align-items-center">
					<div class="price d-flex align-items-center">
						<img src="images/sgc-coin-navbar.png" alt="">
						<span>1 SGC = 1USD</span>
					</div>
					<select name="" id="" class="language text-white">
						<option value="ENG">ENG</option>
						<option value="KOR">KOR</option>
					</select>
				</div>
				<div class="news-login" :class="{'d-flex': loggedIn}">
					<a href="#">Notice & News</a>
					<template v-if='!loggedIn'>
						<a href="signup.html">Register</a> / <a href="login.html">Login</a>
					</template>
					<span v-else class="profile-pic-and-name align-items-center line-height-normal">
						<img src="images/user-icon.png" alt="">
						<span>John Walter</span>
					</span>
				</div>
				<img src="images/search-icon.png" alt="" class="search">
			</div>
		</header>
		<section class="notice-and-news container">
			<h1 class="title text-white font-bold">Notice <br><span class="text-yellow has-half-underline">& News</span></h1>
			<div class="content">
				<h2 class="text-white font-bold">SGC removes the problem gamers are facing while playing use the SGC wallet to play games.</h2>
				<p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ullam similique error, expedita cupiditate deleniti consequatur molestiae modi perspiciatis saepe, quisquam non, libero inventore voluptatum neque? Est error possimus placeat nihil voluptatibus consectetur! Libero temporibus illum incidunt, modi id officiis quasi minima iusto nisi dicta est facere harum, placeat magni.</p>
				<p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum est perspiciatis ipsam! Laudantium consequuntur recusandae a veritatis qui nemo ex.</p>
			</div>
		</section>
		<footer class="main-footer">
			<div class=" d-flex flex-column align-items-center">
				<div class="main-footer_nav-wrapper">
					<div class="main-footer_nav container d-flex p-relative">
						<a href="#">About</a>
						<a href="#">Support</a>
						<a href="#">Terms of Use</a>
						<a href="#">Privacy Policy</a>
						<a href="#">Notices</a>
						<a href="#">Contact Us</a>
						<div class="main-footer_social-icons">
							<a href="#"><img src="images/facebook-icon.png" alt=""></a>
							<a href="#"><img src="images/insta-icon.png" alt=""></a>
							<a href="#"><img src="images/twitter-icon.png" alt=""></a>
						</div>
					</div>
				</div>
				<span class="copyright container text-center">All rights reserved to Suponic eSports</span>
			</div>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/components.js"></script>
	<script src="js/flickity.pkgd.min.js"></script>
	<script src="js/script.js"></script>
</body>

</html>