<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/flickity.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Suponic Games</title>
</head>

<body>
	<div id="app">
		<transition name='fade'>
			<div v-if='!pageLoaded' id="preloader-wrapper">
				<img src="images/preloader.svg" alt="" class="preloader">
			</div>
		</transition>
		<header class="d-flex align-items-center main-header container p-relative">
			<a href="index.html"><img src="images/main-logo.png" alt="" class="main-logo"></a>
			<nav class="main-nav d-flex align-items-center p-relative">
				<main-nav-link text='All Games' link='index.html'></main-nav-link>
				<main-nav-link text='SGC Shop' link='#'></main-nav-link>
				<main-nav-link text='Community' link='#'></main-nav-link>
				<main-nav-link text='Clan' link='#'></main-nav-link>
				<div class="gradient-line"></div>
				<div class="menu-toggle cross">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>
			<div class="menu-toggle">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="main-nav_right d-flex flex-column">
				<div class="price-language d-flex align-items-center">
					<div class="price d-flex align-items-center">
						<img src="images/sgc-coin-navbar.png" alt="">
						<span>1 SGC = 1USD</span>
					</div>
					<select name="" id="" class="language text-white">
						<option value="ENG">ENG</option>
						<option value="KOR">KOR</option>
					</select>
				</div>
				<div class="news-login" :class="{'d-flex': loggedIn}">
					<a href="notice-and-news.html">Notice & News</a>
					<template v-if='!loggedIn'>
						<a href="signup.html">Register</a> / <a href="login.html">Login</a>
					</template>
					<span v-else class="profile-pic-and-name align-items-center line-height-normal">
						<img src="images/user-icon.png" alt="">
						<span>John Walter</span>
					</span>
				</div>
				<img src="images/search-icon.png" alt="" class="search">
			</div>
		</header>
		<section class="sgc-shop container d-flex flex-column align-items-center">
			<div class="user-pic-and-name d-flex flex-column align-items-center">
				<img src="images/profile-icon.png" alt="" class="profile-pic">
				<h5 class="name text-white font-bold">johnwalter<img src="images/edit-icon.png" alt="" class="edit">
				</h5>
			</div>
			<div class="coin-and-amount d-flex align-items-center">
				<img src="images/coin-avail-icon.png" alt="">
				<span class="amount text-white font-bold">000 <span class="text-yellow">SGC</span></span>
			</div>
			<div class="sgc-cards d-grid">
				<sgc-card :amount=10></sgc-card>
				<sgc-card :amount=50></sgc-card>
				<sgc-card :amount=100></sgc-card>
				<div class="address-wrapper text-center grid-col-span">
					<p class="text-muted info">If you have SGC elsewhere (for example on the Suponic Exchange), you can deposit them
						to the game by sending SGC to the address:</p>
					<p class="address text-white">0x02dsfsdkjfnq44w545kjb43534k5jn3lnjb45kljn <img src="images/copy-icon.png" alt=""
							class="copy"></p>
				</div>
				<div class="history grid-col-span">
					<h5 class="font-bold text-white">SGC History</h5>
					<table class="table-history text-white">
						<thead>
							<tr class="font-bold">
								<th>Issue Date</th>
								<th>Type</th>
								<th>Amount</th>
								<th>Game</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12-12-12</td>
								<td>type</td>
								<td>100 SGC</td>
								<td>game</td>
								<td>status</td>
							</tr>
							<tr>
								<td>12-12-12</td>
								<td>type</td>
								<td>100 SGC</td>
								<td>game</td>
								<td>status</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<modal title='johnwalter' class="modal-purchase">
			<span class="amount font-bold text-yellow has-half-underline p-relative"><span>10</span> <span>SGC</span></span>
				<form action="" class="sgc-form">
					<field type='Email' placeholder='Email'></field>
					<field type='number' placeholder='Card Number'></field>
					<div class="date-and-cvc d-flex">
						<field type='date' placeholder='MM/YY'></field>
						<field type='number' placeholder='CVC'></field>
					</div>
					<remember-me></remember-me>
					<btn-diamond text='Pay with Card $10.00'></btn-diamond>
				</form>
		</modal>
		<footer class="main-footer">
			<div class=" d-flex flex-column align-items-center">
				<div class="main-footer_nav-wrapper">
					<div class="main-footer_nav container d-flex p-relative">
						<a href="#">About</a>
						<a href="#">Support</a>
						<a href="#">Terms of Use</a>
						<a href="#">Privacy Policy</a>
						<a href="#">Notices</a>
						<a href="#">Contact Us</a>
						<div class="main-footer_social-icons">
							<a href="#"><img src="images/facebook-icon.png" alt=""></a>
							<a href="#"><img src="images/insta-icon.png" alt=""></a>
							<a href="#"><img src="images/twitter-icon.png" alt=""></a>
						</div>
					</div>
				</div>
				<span class="copyright container text-center">All rights reserved to Suponic eSports</span>
			</div>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/components.js"></script>
	<script src="js/flickity.pkgd.min.js"></script>
	<script src="js/script.js"></script>
</body>

</html>