<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/flickity.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Suponic Games</title>
</head>

<body>
	<div id="app">
		<transition name='fade'>
			<div v-if='!pageLoaded' id="preloader-wrapper">
				<img src="images/preloader.svg" alt="" class="preloader">
			</div>
		</transition>
		<header class="d-flex align-items-center main-header container p-relative">
			<a href="index.html"><img src="images/main-logo.png" alt="" class="main-logo"></a>
			<nav class="main-nav d-flex align-items-center p-relative">
				<main-nav-link text='All Games' link='index.html'></main-nav-link>
				<main-nav-link text='SGC Shop' link='sgc-shop.html'></main-nav-link>
				<main-nav-link text='Community' link='#'></main-nav-link>
				<main-nav-link text='Clan' link='#'></main-nav-link>
				<div class="gradient-line"></div>
				<div class="menu-toggle cross">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>
			<div class="menu-toggle">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="main-nav_right d-flex flex-column">
				<div class="price-language d-flex align-items-center">
					<div class="price d-flex align-items-center">
						<img src="images/sgc-coin-navbar.png" alt="">
						<span>1 SGC = 1USD</span>
					</div>
					<select name="" id="" class="language text-white">
						<option value="ENG">ENG</option>
						<option value="KOR">KOR</option>
					</select>
				</div>
				<div class="news-login" :class="{'d-flex': loggedIn}">
					<a href="notice-and-news.html">Notice & News</a>
					<template v-if='!loggedIn'>
						<a href="signup.html">Register</a> / <a href="login.html">Login</a>
					</template>
					<span v-else class="profile-pic-and-name align-items-center line-height-normal">
						<img src="images/user-icon.png" alt="">
						<span>John Walter</span>
					</span>
				</div>
				<img src="images/search-icon.png" alt="" class="search">
			</div>
		</header>
		<section class="login-signup container d-flex align-items-center p-relative">
			<img src="images/main-banner-vfx.png" alt="" class="bg">
			<div class="text">
				<h1 class="title text-white has-half-underline font-bold">Register to Suponic Game and Earn to Play with Friends Competitors
				</h1>
				<p class="text-small text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam et doloribus
					molestias, porro cumque natus corrupti beatae id quos possimus. Aspernatur iste hic numquam, consectetur
					laboriosam perspiciatis ab illo eveniet?</p>
				<p class="text-small text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti non illum
					nam dolorem atque praesentium numquam aliquam veritatis magnam debitis?</p>
			</div>
			<form action="" class="login-signup-form signup-form d-flex flex-column">
				<field placeholder='Username'></field>
				<field type='email' placeholder='Email'></field>
				<password-field></password-field>
				<p class="field-info text-muted form-text">Password must be more than 6 characters in length and contain at least one letter and one number</p>
				<password-field placeholder='Confirm Password'></password-field>
				<p class="field-info text-muted form-text">Please enter the password you entered above once more</p>
				<btn-diamond text='Register'></btn-diamond>
				<a href="login.html" class="form-text text-muted tdn text-center">Already have an account?</a>
				<a href="#" class="form-text text-muted tdn text-center">Forgot Password?</a>
				<a href="index.html" class="back tdn text-white font-bold d-flex form-text"><img src="images/back-icon.png" alt=""> back to <span class="text-yellow">Suponic</span>Games</a>
			</form>
		</section>
		<footer class="main-footer">
			<div class=" d-flex flex-column align-items-center">
				<div class="main-footer_nav-wrapper">
					<div class="main-footer_nav container d-flex p-relative">
						<a href="#">About</a>
						<a href="#">Support</a>
						<a href="#">Terms of Use</a>
						<a href="#">Privacy Policy</a>
						<a href="#">Notices</a>
						<a href="#">Contact Us</a>
						<div class="main-footer_social-icons">
							<a href="#"><img src="images/facebook-icon.png" alt=""></a>
							<a href="#"><img src="images/insta-icon.png" alt=""></a>
							<a href="#"><img src="images/twitter-icon.png" alt=""></a>
						</div>
					</div>
				</div>
				<span class="copyright container text-center">All rights reserved to Suponic eSports</span>
			</div>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/components.js"></script>
	<script src="js/flickity.pkgd.min.js"></script>
	<script src="js/script.js"></script>
</body>

</html>